<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/icoListDetail.css">
    <style>
        body {
            position: relative;
        }
        .footer {
            position: absolute;
            bottom: -90px;
        }
        .main-container {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<Header></Header>
<div class="main-container">
    <div class="main-top-container flex">
        <div class="main-top-left-section">
            <img src="../assets/images/writer.png" alt="">
        </div>
        <div class="main-top-right-section white-Bgcolor">
            <p class="fontSize24">
                The Type Writer.
            </p>
            <p style="margin-top: 16px;margin-bottom: 16px  ">
                <span class="theme-Fontcolor fontSize32">$13,000</span>
                <span class="color-Opcity54 fontSize18">pledged</span>
            </p>
            <div>
                <p class="loadbase-line">
                    <span class="theme-Bgcolor loadbase-line-inside "></span>
                </p>
                <div class="flex flex-pack-justify margin-top-8">
                    <p class="theme-Fontcolor">94% funded</p>
                    <p>1,435 backers</p>
                </div>
                <p  style="margin-top: 16px;margin-bottom: 24px" class="color-Opcity54 fontSize14">This project will only be funded if it reaches its goal by Sat, March 31 2018 9:44 PM AWST.</p>

                <button class="theme-Bgcolor readme-btn">Participate</button>
                <button class="theme-Bgcolor m-readme-btn"><a href="./partcipateM.html">Participate</a></button>

            </div>
        </div>
    </div>
    <div class="main-center-content-container margin-top-24 flex flex-pack-justify">
        <div class="main-center-left-section white-Bgcolor padding-24">
            <div class="header-title flex flex-align-center">
                <p class="theme-Fontcolor">Campaign</p>
                <p>Comments</p>
            </div>
            <div class="article-main-wrapper">
                <p class="article-main-words">The Type Writer？</p>
                <p>The Type Writer ist ein experimentelles Magazin zwischen Typographie und Poesie. Nachdem die erste Ausgabe ein voller Erfolg war, wollen wir nun im April 2018 die zweite publizieren. Herausgegeben wird sie dieses mal von von Celia, Johanna, Maria, Thuy und Verena, Studentinnen der Fachhochschule Potsdam. Entstanden ist das Magazin innerhalb des Typographie-Kurses von Prof. Sven Völker.</p>
                <img src="../assets/images/writer.png" alt="">
                <p>The Type Writer ist ein experimentelles Magazin zwischen Typographie und Poesie. Nachdem die erste Ausgabe ein voller Erfolg war, wollen wir nun im April 2018 die zweite publizieren. Herausgegeben wird sie dieses mal von von Celia, Johanna, Maria, Thuy und Verena, Studentinnen der Fachhochschule Potsdam. Entstanden ist das Magazin innerhalb des Typographie-Kurses von Prof. Sven Völker.</p>

            </div>
        </div>
        <div class="main-center-right-section">
            <ul>
                <li class="main-center-right-listItem padding-24">
                    <p class="common-title-item-style">Project sponsor</p>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <p class="head-portrait"></p>
                        <div class="something-produce-content">
                            <p class="fontSize18">Taylor Swift</p>
                            <p class="color-Opcity54  margin-top-8">We're here to put a dent in the universe. Otherwise why else even be here?</p>
                            <button class="sendMessage-btn margin-top-16" style="display: none">SEND MESSAGE</button>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 100</p>
                        <p class="color-Opcity54">1,032 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 100</p>
                        <p class="color-Opcity54">1,032 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 500</p>
                        <p class="color-Opcity54">23 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                The Codename Colossus M1A2 Light Walker - Squad Leader version is a 1/35 scale polyurethane resin cast and 3D printed model kit with lights and a motor. This kit comes with a character figure, Sergeant Reynolds.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-main-center-content-container margin-top-24">
        <div class="header-title flex flex-align-center">
            <p class="theme-Fontcolor">Campaign</p>
            <p>Comments</p>
        </div>
        <div class="m-lisItem-wrapper">
            <div class="flex  white-Bgcolor" style="padding:24px;margin-top: 1px">
                <p class="head-portrait"></p>
                <div class="something-produce-content ">
                    <p class="fontSize18">Taylor Swift</p>
                    <p class="color-Opcity54  margin-top-8">We're here to put a dent in the universe. Otherwise why else even be here?</p>
                    <button class="m-sendMessage-btn margin-top-16" style="display: none"><a href="./messageListM.html">SEND MESSAGE</a></button>
                </div>
            </div>
            <div class="m-article-main-wrapper white-Bgcolor" style="margin-top: 1px">
                <p class="article-main-words">The Type Writer？</p>
                <p>The Type Writer ist ein experimentelles Magazin zwischen Typographie und Poesie. Nachdem die erste Ausgabe ein voller Erfolg war, wollen wir nun im April 2018 die zweite publizieren. Herausgegeben wird sie dieses mal von von Celia, Johanna, Maria, Thuy und Verena, Studentinnen der Fachhochschule Potsdam. Entstanden ist das Magazin innerhalb des Typographie-Kurses von Prof. Sven Völker.</p>
                <img src="../assets/images/writer.png" alt="">
                <p>The Type Writer ist ein experimentelles Magazin zwischen Typographie und Poesie. Nachdem die erste Ausgabe ein voller Erfolg war, wollen wir nun im April 2018 die zweite publizieren. Herausgegeben wird sie dieses mal von von Celia, Johanna, Maria, Thuy und Verena, Studentinnen der Fachhochschule Potsdam. Entstanden ist das Magazin innerhalb des Typographie-Kurses von Prof. Sven Völker.</p>
            </div>
    </div>
</div>
</div>
<div class="model-wrapper">
    <div class="model-confirm-dialog text-center">
        <i class="close-icon"><img src="../assets/images/Close.svg" alt=""></i>
        <h2 class="fontSize24 color-Opcity87">Precautions</h2>
        <p class="fontSize14 color-Opcity87 text-left">
            1. When selecting investment, choose the amount of investment according to your risk tolerance;<br/>
            <br/>
            2. After acknowledging that the deposit has been paid, there will be a three-day repentance period that exceeds the repentance period, and there are legitimate reasons for applying for a withdrawal;<br/>
            <br/>
            3. Always use the recommended wallet (imToken wallet) to invest the ETH invested in the crowdfunding website, pay attention to keep the corresponding transaction records, and use this as a proof; if you make money by yourself or follow the investment, you will bear the responsibility.<br/>
            <br/>
            4. The post-investment department of the crowdfunding website will assist the lead investee in urging the project funders to implement the financing commitments and the investment agreement agreement. In the event of a dispute, the parties will promptly organize and assist the investor in coordinating or litigating;
        </p>
        <button class=""><a href="./qrCodeScan.html">ACCEPT AND CONTINUE</a></button>
    </div>
</div>
<Footer class="footer">
    <h1>Copyright © 2018 MobiPromo Ltd.</h1>
</Footer>
<script type="text/javascript" src='../assets/js/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='../assets/js/bootstrap.min.js'></script>
<script type="text/javascript">
    $('Header').load('../commons/header.html .navbar')
    $('.readme-btn').click(function () {
        $('.model-wrapper').toggle()
    })
    $('.close-icon').click(function () {
        $('.model-wrapper').toggle()
    })
</script>
</body>
</html>