<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/icoListDetail.css">
</head>
<body>
<Header></Header>
<div class="main-container">
    <div class="main-top-container flex">
        <div class="main-top-left-section">
            <img src="../assets/images/project_05.png" alt="">
        </div>
        <div class="main-top-right-section white-Bgcolor">
            <p class="fontSize24">
                Trash cleaning robot controlled by you.
            </p>
            <p style="margin-top: 16px;margin-bottom: 16px  ">
                <span class="theme-Fontcolor fontSize32">$13,000</span>
                <span class="color-Opcity54 fontSize18">pledged</span>
            </p>
            <div>
                <p class="loadbase-line">
                    <span class="theme-Bgcolor loadbase-line-inside "></span>
                </p>
                <div class="flex flex-pack-justify margin-top-8">
                    <p class="theme-Fontcolor">94% funded</p>
                    <p>1,435 backers</p>
                </div>
                <p  style="margin-top: 16px;margin-bottom: 24px" class="color-Opcity54 fontSize14">This project will only be funded if it reaches its goal by Sat, March 31 2018 9:44 PM AWST.</p>
                <button class="theme-Bgcolor readme-btn">REMIND ME</button>
            </div>
        </div>
    </div>
    <div class="main-center-content-container margin-top-24 flex flex-pack-justify">
        <div class="main-center-left-section white-Bgcolor padding-24">
            <div class="header-title flex flex-align-center">
                <p class="theme-Fontcolor">Campaign</p>
                <p>Comments</p>
            </div>
            <div class="article-main-wrapper">
                <p class="article-main-words">what is slice of sauce ?</p>
                <p>Slice of Sauce™ transforms the traditional condiment aisle with individual “slices” of Signature Recipe Ketchup in a convenient and portable package of 8 portions. Layer it onto your burgers, sandwiches, wraps and more for a delicious burst of flavor and a perfect no-mess bite every time. </p>
                <img src="../assets/images/project_05.png" alt="">
                <p>
                    Slice of Sauce™ is a modern update to ordinary condiments. The slice is a tantalizing layer of flavor and lets you enjoy a perfect portion with every bite.<br/>
                    <br/>
                    We’ve got a clean label. Our ingredients are vegan, non-GMO, gluten-free, all-natural with no artificial flavors, preservatives, or high-fructose corn syrup.<br/>
                    <br/>
                    It’s so easy to add a slice. Because it’s in slice form, there’s no sticky mess or soggy bread, no “liquidy” separation and no uneven squeezing from a part-empty bottle like with many traditional condiments.
                </p>
            </div>
        </div>
        <div class="main-center-right-section">
            <ul>
                <li class="main-center-right-listItem padding-24">
                    <p class="common-title-item-style">Project sponsor</p>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <p class="head-portrait"></p>
                        <div class="something-produce-content">
                            <p class="fontSize18">Taylor Swift</p>
                            <p class="color-Opcity54  margin-top-8">We're here to put a dent in the universe. Otherwise why else even be here?</p>
                            <button class="sendMessage-btn margin-top-16">SEND MESSAGE</button>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 100</p>
                        <p class="color-Opcity54">1,032 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 100</p>
                        <p class="color-Opcity54">1,032 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 500</p>
                        <p class="color-Opcity54">23 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                The Codename Colossus M1A2 Light Walker - Squad Leader version is a 1/35 scale polyurethane resin cast and 3D printed model kit with lights and a motor. This kit comes with a character figure, Sergeant Reynolds.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-main-center-content-container margin-top-24">
        <div class="header-title flex flex-align-center">
            <p class="theme-Fontcolor">Campaign</p>
            <p>Comments</p>
        </div>
        <div class="m-lisItem-wrapper">
            <div class="flex  white-Bgcolor" style="padding:24px;margin-top: 1px">
                <p class="head-portrait"></p>
                <div class="something-produce-content ">
                    <p class="fontSize18">Taylor Swift</p>
                    <p class="color-Opcity54  margin-top-8">We're here to put a dent in the universe. Otherwise why else even be here?</p>
                    <button class="m-sendMessage-btn margin-top-16"><a href="./messageListM.html">SEND MESSAGE</a></button>
                </div>
            </div>
            <div class="m-article-main-wrapper white-Bgcolor" style="margin-top: 1px">
                <p class="article-main-words">what is slice of sauce ?</p>
                <p>Slice of Sauce™ transforms the traditional condiment aisle with individual “slices” of Signature Recipe Ketchup in a convenient and portable package of 8 portions. Layer it onto your burgers, sandwiches, wraps and more for a delicious burst of flavor and a perfect no-mess bite every time. </p>
                <img src="../assets/images/project_05.png" alt="">
                <p>
                    Slice of Sauce™ is a modern update to ordinary condiments. The slice is a tantalizing layer of flavor and lets you enjoy a perfect portion with every bite.<br/>
                    <br/>
                    We’ve got a clean label. Our ingredients are vegan, non-GMO, gluten-free, all-natural with no artificial flavors, preservatives, or high-fructose corn syrup.<br/>
                    <br/>
                    It’s so easy to add a slice. Because it’s in slice form, there’s no sticky mess or soggy bread, no “liquidy” separation and no uneven squeezing from a part-empty bottle like with many traditional condiments.
                </p>
        </div>
    </div>
</div>
</div>
<Footer class="footer">
    <h1>Copyright © 2018 MobiPromo Ltd.</h1>
</Footer>
<script type="text/javascript" src='../assets/js/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='../assets/js/bootstrap.min.js'></script>
<script type="text/javascript">
    $('Header').load('../commons/header.html .navbar')
</script>
</body>
</html>