<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/icoListDetail.css">
    <style>
        body {
            position: relative;
        }
        .footer {
            position: absolute;
            bottom: -90px;
        }
        .main-container {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<Header></Header>
<div class="main-container">
    <div class="main-top-container flex">
        <div class="main-top-left-section">
            <img src="../assets/images/sphere.png" alt="">
        </div>
        <div class="main-top-right-section white-Bgcolor">
            <p class="fontSize24">
                The Universe Sphere - The Milky Way in a Sphere.
            </p>
            <p style="margin-top: 16px;margin-bottom: 16px  ">
                <span class="theme-Fontcolor fontSize32">$13,000</span>
                <span class="color-Opcity54 fontSize18">pledged</span>
            </p>
            <div>
                <p class="loadbase-line">
                    <span class="theme-Bgcolor loadbase-line-inside "></span>
                </p>
                <div class="flex flex-pack-justify margin-top-8">
                    <p class="theme-Fontcolor">94% funded</p>
                    <p>1,435 backers</p>
                </div>
                <p  style="margin-top: 16px;margin-bottom: 24px" class="color-Opcity54 fontSize14">The second Universe Sphere...200,000 stars, lasered into an 8 cm glass orb, forming the Milky Way inside this beautiful desk ornament!</p>

                <button class="theme-Bgcolor readme-btn">Participate</button>
            </div>
        </div>
    </div>
    <div class="main-center-content-container margin-top-24 flex flex-pack-justify">
        <div class="main-center-left-section white-Bgcolor padding-24">
            <div class="header-title flex flex-align-center">
                <p class="theme-Fontcolor">Campaign</p>
                <p>Comments</p>
            </div>
            <div class="article-main-wrapper">
                <p class="article-main-words">A Light In The Void</p>
                <p>Did you ever want to hold the Universe in your hand? Wouldn´t it be cool to have a solid glass sphere with the structure of the Universe inside it? The success of our previous campaign&nbsp;<a href="https://www.kickstarter.com/projects/1898673740/the-universe-in-a-sphere-relaunch" target="_blank" rel="noopener">"The Universe in a Sphere"</a> showed us: Yes! But not only that, we got many requests if we continue making these spheres and if we plan to add more variants. We realized quite fast, that the Milky Way is a must have, especially if you already own the Universe in a Sphere.&nbsp;</p>
                <img src="../assets/images/sphere.png" alt="">
                <p>Did you ever want to hold the Universe in your hand? Wouldn´t it be cool to have a solid glass sphere with the structure of the Universe inside it? The success of our previous campaign&nbsp;<a href="https://www.kickstarter.com/projects/1898673740/the-universe-in-a-sphere-relaunch" target="_blank" rel="noopener">"The Universe in a Sphere"</a> showed us: Yes! But not only that, we got many requests if we continue making these spheres and if we plan to add more variants. We realized quite fast, that the Milky Way is a must have, especially if you already own the Universe in a Sphere.&nbsp;</p>


            </div>
        </div>
        <div class="main-center-right-section">
            <ul>
                <li class="main-center-right-listItem padding-24">
                    <p class="common-title-item-style">Project sponsor</p>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <p class="head-portrait"></p>
                        <div class="something-produce-content">
                            <p class="fontSize18">Taylor Swift</p>
                            <p class="color-Opcity54  margin-top-8">We're here to put a dent in the universe. Otherwise why else even be here?</p>
                            <button class="sendMessage-btn margin-top-16" style="display: none">SEND MESSAGE</button>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 100</p>
                        <p class="color-Opcity54">1,032 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 100</p>
                        <p class="color-Opcity54">1,032 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
                <li class="main-center-right-listItem padding-24  margin-top-24">
                    <div class="flex flex-pack-justify common-title-item-style">
                        <p class="color-Opcity87 fontSize18">US$ 500</p>
                        <p class="color-Opcity54">23 backers</p>
                    </div>
                    <div class="lisItem-bottom-article flex common-article-item-style">
                        <div class="something-produce-content">
                            <p>THANKS FOREVER!</p>
                            <p class="color-Opcity54 fontSize14 margin-top-8">
                                The Codename Colossus M1A2 Light Walker - Squad Leader version is a 1/35 scale polyurethane resin cast and 3D printed model kit with lights and a motor. This kit comes with a character figure, Sergeant Reynolds.
                            </p>
                            <br/>
                            <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-main-center-content-container margin-top-24">
        <div class="header-title flex flex-align-center">
            <p class="theme-Fontcolor">Campaign</p>
            <p>Comments</p>
        </div>
        <div class="m-lisItem-wrapper">
            <div class="flex  white-Bgcolor" style="padding:24px;margin-top: 1px">
                <p class="head-portrait"></p>
                <div class="something-produce-content ">
                    <p class="fontSize18">Taylor Swift</p>
                    <p class="color-Opcity54  margin-top-8">We're here to put a dent in the universe. Otherwise why else even be here?</p>
                    <button class="m-sendMessage-btn margin-top-16" style="display: none"><a href="./messageListM.html">SEND MESSAGE</a></button>
                </div>
            </div>
            <div class="m-article-main-wrapper white-Bgcolor" style="margin-top: 1px">
                <p class="article-main-words">A Light In The Void</p>
                <p>Did you ever want to hold the Universe in your hand? Wouldn´t it be cool to have a solid glass sphere with the structure of the Universe inside it? The success of our previous campaign&nbsp;<a href="https://www.kickstarter.com/projects/1898673740/the-universe-in-a-sphere-relaunch" target="_blank" rel="noopener">"The Universe in a Sphere"</a> showed us: Yes! But not only that, we got many requests if we continue making these spheres and if we plan to add more variants. We realized quite fast, that the Milky Way is a must have, especially if you already own the Universe in a Sphere.&nbsp;</p>
                <img src="../assets/images/sphere.png" alt="">
                <p>Did you ever want to hold the Universe in your hand? Wouldn´t it be cool to have a solid glass sphere with the structure of the Universe inside it? The success of our previous campaign&nbsp;<a href="https://www.kickstarter.com/projects/1898673740/the-universe-in-a-sphere-relaunch" target="_blank" rel="noopener">"The Universe in a Sphere"</a> showed us: Yes! But not only that, we got many requests if we continue making these spheres and if we plan to add more variants. We realized quite fast, that the Milky Way is a must have, especially if you already own the Universe in a Sphere.&nbsp;</p>
            </div>
    </div>
</div>
</div>
<Footer class="footer">
    <h1>Copyright © 2018 MobiPromo Ltd.</h1>
</Footer>
<script type="text/javascript" src='../assets/js/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='../assets/js/bootstrap.min.js'></script>
<script type="text/javascript">
    $('Header').load('../commons/header.html .navbar')
</script>
</body>
</html>