<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ico</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/icoListDetail.css">
    <style>
        .select-header {
            font-size: 17px;
            color: #111111;
            line-height: 26px;
            height: 64px;
            line-height: 64px;
            padding: 0 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<Header></Header>
<div class="m-main-container">
    <div class="main-center-right-section" style="width: 100%">
        <p class="select-header">
            Select a reward
        </p>
        <ul>
            <li class="main-center-right-listItem padding-24">
                <div class="flex flex-pack-justify common-title-item-style">
                    <p class="color-Opcity87 fontSize18">US$ 100</p>
                    <p class="color-Opcity54">1,032 backers</p>
                </div>
                <div class="lisItem-bottom-article flex common-article-item-style">
                    <div class="something-produce-content">
                        <p>THANKS FOREVER!</p>
                        <p class="color-Opcity54 fontSize14 margin-top-8">
                            We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                        </p>
                        <br/>
                        <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                    </div>
                </div>
            </li>
            <li class="main-center-right-listItem padding-24  margin-top-24">
                <div class="flex flex-pack-justify common-title-item-style">
                    <p class="color-Opcity87 fontSize18">US$ 100</p>
                    <p class="color-Opcity54">1,032 backers</p>
                </div>
                <div class="lisItem-bottom-article flex common-article-item-style">
                    <div class="something-produce-content">
                        <p>THANKS FOREVER!</p>
                        <p class="color-Opcity54 fontSize14 margin-top-8">
                            We'll send you an exclusive playlist of music that inspired the cast and creative team behind SEAGULLMACHINE.
                        </p>
                        <br/>
                        <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                    </div>
                </div>
            </li>
            <li class="main-center-right-listItem padding-24  margin-top-24">
                <div class="flex flex-pack-justify common-title-item-style">
                    <p class="color-Opcity87 fontSize18">US$ 500</p>
                    <p class="color-Opcity54">23 backers</p>
                </div>
                <div class="lisItem-bottom-article flex common-article-item-style">
                    <div class="something-produce-content">
                        <p>THANKS FOREVER!</p>
                        <p class="color-Opcity54 fontSize14 margin-top-8">
                            The Codename Colossus M1A2 Light Walker - Squad Leader version is a 1/35 scale polyurethane resin cast and 3D printed model kit with lights and a motor. This kit comes with a character figure, Sergeant Reynolds.
                        </p>
                        <br/>
                        <p class="color-Opcity54 fontSize12">ESTIMATED DELIVERY <span class="color-Opcity87">Apr 2018 </span></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<Footer class="footer">
    <h1>Copyright © 2018 MobiPromo Ltd.</h1>
</Footer>
<script type="text/javascript" src='../assets/js/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='../assets/js/bootstrap.min.js'></script>
<script type="text/javascript">
    $('Header').load('../commons/header.html .navbar')
</script>
</body>
</html>