<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/icoListDetail.css">
    <style>
        body {
            position: relative;
        }
        .footer {
            position: absolute;
            bottom: -90px;
        }
    </style>
</head>
<body>
<Header></Header>

    <div class="model-confirm-dialog text-center">
        <h2 class="fontSize24 color-Opcity87">Precautions</h2>
        <p class="fontSize14 color-Opcity87 text-left">
            1. When selecting investment, choose the amount of investment according to your risk tolerance;<br/>
            <br/>
            2. After acknowledging that the deposit has been paid, there will be a three-day repentance period that exceeds the repentance period, and there are legitimate reasons for applying for a withdrawal;<br/>
            <br/>
            3. Always use the recommended wallet (imToken wallet) to invest the ETH invested in the crowdfunding website, pay attention to keep the corresponding transaction records, and use this as a proof; if you make money by yourself or follow the investment, you will bear the responsibility.<br/>
            <br/>
            4. The post-investment department of the crowdfunding website will assist the lead investee in urging the project funders to implement the financing commitments and the investment agreement agreement. In the event of a dispute, the parties will promptly organize and assist the investor in coordinating or litigating;
        </p>
        <button class=""><a href="./qrCodeScan.html">ACCEPT AND CONTINUE</a></button>
    </div>

<Footer class="footer">
    <h1>Copyright © 2018 MobiPromo Ltd.</h1>
</Footer>
<script type="text/javascript" src='../assets/js/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='../assets/js/bootstrap.min.js'></script>
<script type="text/javascript">
    $('Header').load('../commons/header.html .navbar')
</script>
</body>
</html>